# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.MkGradProgrammerTest2021.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\GAME DEV\MkGradProgrammerTest2021\.idea\.idea.MkGradProgrammerTest2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
